.DS_Store
node_modules
**/node_modules/*
# test
coverage
.idea

# api-extractor
temp
dist

# analyzer
analyzer.html

# dist
packages/*/dist

# rust
/target

# typescript
**/esm
**/tsconfig.tsbuildinfo

#nx
.nx
