{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "proseWrap": "never",
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 140,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "ignore"
}
